@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* #Fonts */
body{
    font-family: 'Kalnia', serif;
    letter-spacing: 0.5px;
}
h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5px;
}


/* Account Options Styles */
.account-option {
    @apply bg-slate-300 hover:bg-blue-900 text-center py-1 px-3 rounded-lg hover:text-white;
  }
  .account-option-active {
    @apply bg-blue-900 text-center py-1 px-3 rounded-lg text-white;
  }

  @layer components {
    .btn-class {
      @apply bg-blue-800 px-4 py-2 text-white font-bold rounded-lg disabled:bg-slate-400 hover:bg-blue-700 disabled:cursor-not-allowed;
    }
  }
  
/* Input arrow removed */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ant-dropdown-menu-item-active:hover{
  background-color: rgb(203 213 225)!important;
  /* color: white!important; */
  /* transition-duration: 300ms; */
}


.quantiy-input-input .ant-input{
  text-align: center !important;
}